<footer>
    
    <div class="container max-w-7xl py-12 grid sm:grid-cols-2 md:grid-cols-4">
        
    </div>

</footer>

<section id="copyright" class="py-4 px-2 bg-gray-100">
    <div class="flex content-center justify-center h-full">
        <div class="text-xs text-gray-500">
            Copyright &copy; {{ "now"|date("Y") }} &middot; {{ this.theme.website_name }} &middot; Crafted with &hearts; by  <a href="https://responsiveweb.nz" class="hover:text-primary" target="_blank">Responsive</a>
        </div>
    </div>
</section>
