{{ form_ajax(__SELF__ ~ '::onFormSubmit', { class: 'form-bordered', id: 'contactform' }) }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="mt-6 input-group">
        <label class="sr-only">Name</label>
        <input id="name" name="name" class="input-field w-full" type="text" placeholder="Your name" aria-label="Full name">
    </div>

    <div class="mt-5 input-group">
        <label class="sr-only">Email</label>
        <input id="email" name="email" class="input-field w-full" type="email" placeholder="Your email" aria-label="Email">
    </div>

    <div class="mt-5 input-group">
        <label class="sr-only">Message</label>
        <textarea id="message" name="message" class="input-field w-full" name="message" placeholder="Your message" aria-label="Message"></textarea>
    </div>

    {% partial '@filepond' %}

    <button id="submit" type="submit" class="mt-4 btn btn-primary cursor-pointer" data-attach-loading>
        Send Message
    </button>

    {% partial '@recaptcha' %}

{{ form_close() }}
