{% spaceless %}

<p data-control="flash-message" data-interval="10" class="{{ type }}">
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}

    {% if content %}
        <span>{{ content }}</span>
    {% endif %}

    {% if list %}
        <ul>
        {% for item in list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</p>


    {% if jscript %}
        <script>
            {% if errors %}
                var errors = JSON.parse('{{ errors|raw }}');
            {% endif %}
            {{ jscript|raw }}
        </script>
    {% endif %}

{% endspaceless %}
