<div
    x-data="{
        notifications: [
            { type: '{{ type }}', content: '{{ content }}' }
        ],
        remove(notification) {
            this.notifications = this.notifications.filter(i => i.id !== notification.id)
        },
    }"
    @notify.window="add($event)"
    class="fixed top-5 right-5 flex w-full max-w-md flex-col space-y-4 pr-4 pb-4 sm:justify-start"
    role="status"
    aria-live="polite">

<!-- Notification -->
<template x-for="notification in notifications" :key="notification.id">
    <div
        x-data="{
            show: false,
            init() {
                this.$nextTick(() => this.show = true)
                setTimeout(() => this.transitionOut(), 5000)
            },
            transitionOut() {
                this.show = false
                setTimeout(() => this.remove(this.notification), 500)
            },
        }"
        x-show="show"
        x-transition.duration.500ms
        class="pointer-events-auto relative w-full max-w-lg rounded-md border border-gray-200 bg-white py-8 pl-6 pr-4 shadow-lg"
    >
        <div class="flex items-start">
            <!-- Icons -->
            <div x-show="notification.type === 'info'" class="shrink-0">
                <span aria-hidden="true" class="inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-gray-400 text-xl font-bold text-gray-400">!</span>
                <span class="sr-only">Information:</span>
            </div>

            <div x-show="notification.type === 'success'" class="shrink-0">
                <span aria-hidden="true" class="inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-primary text-lg font-bold text-primary">&check;</span>
                <span class="sr-only">Success:</span>
            </div>

            <div x-show="notification.type === 'danger'" class="shrink-0">
                <span aria-hidden="true" class="inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-red-600 text-lg font-bold text-red-600">&times;</span>
                <span class="sr-only">Error:</span>
            </div>

            <!-- Text -->
            <div class="prose ml-3 w-0 flex-1 pt-0.5">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}

                {% if content %}
                    <p x-text="notification.content" class="leading-5"></p>
                {% endif %}

                {% if list %}
                    <ul>
                {% for item in list %}
                        <li class="{{ (type == 'danger') ? 'text-error' }}">{{ item }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Remove button -->
            <div class="ml-4 flex shrink-0">
                <button @click="transitionOut()" @submit.prevent type="button" class="inline-flex text-gray-400">
                    <svg aria-hidden class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close notification</span>
                </button>
            </div>
        </div>
    </div>
</template>
</div>


<script>
    {% if status == 'success' %}
        var form = document.querySelector('[data-request="{{ __SELF__.alias }}::onFormSubmit"]');
        // Reset form
        {% if __SELF__.property('reset_form') %}
            {% if __SELF__.property('uploader_enable') %}
                if (typeof pond !== "undefined") {
                    pond.removeFile();
                }
            {% endif %}
            form.reset();
        {% endif %}
    {% endif %}

    // Display errors in a JS objects
    {% if jerrors %}
        var jerrors = JSON.parse('{{ jerrors|raw }}');
    {% endif %}

    // Display Js on success and JS on error scripts
    {% if jscript %}
        {{ jscript|raw }}
    {% endif %}
</script>