description = "Default layout"

[section menu]
handle = "Site\Menus"
identifier = "slug"
value = "main-menu"

[staticPage]
useContent = 1
default = 1
==
<!doctype html>
<html lang="en">
    <head>
        {% partial 'site/meta' %}
    </head>

    <body class="font-body">

          {% partial  'site/header' %}

          <main class="container py-20">

              <div class="max-w-5xl mx-auto prose md:prose-md lg:prose-lg rich-editor">
                <h1>{{ this.page.title }}</h1>
                {% page %}
              </div>

          </main>

          {% partial 'site/footer' %}

          {% partial 'site/scripts' %}

    </body>
</html>