description = "Home page layout"

[seo]
==
<!doctype html>
<html lang="en">

    <head>
        {% partial 'site/meta' %}
    </head>

    <body>
        <div class="h-screen">
          <main class="container max-w-7xl mx-auto h-full flex items-center justify-center">
            <div class="max-w-none prose md:prose-md lg:prose-lg rich-editor prose-headings:font-thin">
                {% page %}
            </div>
          </main>
        </div>

        {% partial 'site/scripts' %}
    </body>
</html>